# Set default behaviour, in case users don't have core.autocrlf set.
# Users whose have core.autocrlf set to input or true are ok
* text=auto

# These files are considered by git as text files.
# On Github, these files are stored with LF.
# On Windows, Git will always convert LF to CRLF on checkout, and CRLF to LF on commit.
# On linux, Git will keep LF as default line endings.
*.cal text
*.xdf text
*.layout text

# These files are considered as binary. No diff is shown on these
# and line ending aren't updated on commit/checkout.
*.xdfdiag binary
